.login-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;

}
.login-flex .btn, .login-flex input{
    padding: 0 10rem;
    text-align: left;
    
}
.login-flex .btn{
    padding: 0.5rem 15rem;
    margin-top: 2rem;
}
